/* Layout */

body {
    font:           normal 14px Georgia, serif;
    color:          #2a3845;
    margin:         0;
    padding-left:   0px;
    background:     #FFFFFF;
}

#wrapper {
	margin:0 auto;
	width:632px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
}

#header {
    margin:0 1px;
    background: #FFFAF0;
}

/* Used for Name Header of page*/
.boxHeader{
    border:50px solid #990000;
    background-image: url("./photos/backdrop.jpg");
}

/* Used for buttons */
.footer {
   position:    fixed;
   left:        50%;
   bottom:      0px;
   height:      50px;
   width:       100%;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

/* Used for Name Header of page*/
h1 {
	color:              white;
	margin:             0px;
	padding:            0px;
	background-color:   #990000;
	font:               bold 40px Georgia, serif;
	text-align:         center;
}

/* Used for section headers*/
h2 {
	color:              #7a2e40;
	margin:             20px 0 10px;
	padding-left:       40px;
	padding-bottom:     10px;
	border-bottom:      1px solid #efece7;
	font:               bold 20px Georgia, serif;
	text-align:         left;
}

/* Used for topic headers*/
h3 {
	color:              #7a2e40;
	margin:             10px 0;
	padding-left:       65px;
	font:               bold 14px Georgia, serif;
}

#nav {
	background:#778899;
	padding:10px 20px;
	text-align:right;
	color:#F8F8FF;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}
